body {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 200;
  background-color: hsl(0, 0%, 98%);
}

h1 {
  font-size: 32px;
  font-weight: 200;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  font-weight: 400;
}

.top-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.top-text h1, h2, p {
  margin: 0;
}

#top-text-main {
  width: 450px;
}

.content-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100px;
  width: 250px;
  margin: 50px 25px;
  padding: 10px 25px 50px 25px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 0 30px hsl(229, 6%, 66%);
  border-radius: 5px;
}

#sup {
  border-top: solid 7px hsl(180, 62%, 55%);
}

#team-builder {
  border-top: solid 7px hsl(0, 78%, 62%);
}

#karma {
  border-top: solid 7px  hsl(34, 97%, 64%);
}

#calc {
  border-top: solid 7px hsl(212, 86%, 64%);
}
