body {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 200;
  background-color: hsl(0, 0%, 98%);
  color: hsl(229, 6%, 66%);
}

h1 {
  font-size: 36px;
  font-weight: 200;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  padding-bottom: 10px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.top-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.top-text h1, h2, p {
  margin: 0;
  text-align: center;
}

#top-text-main {
  width: 500px;
}

.content-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 200px;
  width: 300px;
  margin: 50px 25px;
  padding: 10px 25px 50px 25px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 0 30px hsl(229, 6%, 66%);
  border-radius: 5px;
  text-align: left;
}

.content-box-body p{
  text-align: left;
  font-size: 15px;
  margin-bottom: 25px;
}

.content-box-img {
  align-self: flex-end;
}

#sup {
  border-top: solid 7px hsl(180, 62%, 55%);
}

#team-builder {
  border-top: solid 7px hsl(0, 78%, 62%);
}

#karma {
  border-top: solid 7px  hsl(34, 97%, 64%);
}

#calc {
  border-top: solid 7px hsl(212, 86%, 64%);
}

@media only screen and (max-width: 480px) {
  h1, h2 {
    font-size: 20px;
  }
  .top-text-main {
    width: 50%;
  }
  .content-box {
    width: 60%;
    height: 40%;
    margin: 0 0 20px 0;
  }
  .content-boxes {
    flex-direction: column;
    align-items: center;
  }
  .stacked-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content-box-title h3 {
    margin-bottom: 0;
  }
  
}
